Repository spinkerton88/TinyTastesTracker: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, uitests

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "50...90"

  status:
    project:
      default:
        target: 60%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "TinyTastesTracker/Resources/**"
  - "TinyTastesTracker/Supporting Files/**"
  - "**/Info.plist"
  - "**/*Tests.swift"
  - "TinyTastesTrackerTests/**"
  - "TinyTastesTrackerUITests/**"
  - "TinyTastesWidget/**"

flags:
  unittests:
    paths:
      - TinyTastesTracker/Core/
      - TinyTastesTracker/Features/
    carryforward: true

  uitests:
    paths:
      - TinyTastesTracker/UI/
      - TinyTastesTracker/Features/
    carryforward: true

github_checks:
  annotations: true

Move internal guides out of public docs
  TinyTastesTracker.xcodeproj/project.pbxproj
  TinyTastesTracker/Core/Managers/AppState.swift
  TinyTastesTracker/Core/Managers/SharedModelContainer.swift
  TinyTastesTracker/Core/Models/ParentProfile.swift
  TinyTastesTracker/Features/Onboarding/AccountSetupView.swift
  dev_guides/APP_STORE_PRIVACY_GUIDE.md
  dev_guides/DOMAIN_SETUP.md
  update_project_parentprofile.rb
Due: unittests, uitests

chore: Reorganize project file structure
  .gitignore
  TinyTastesTracker.xcodeproj/project.pbxproj
  TinyTastesTracker/test_output.log
  TinyTastesTrackerTests/CoreTests/Managers/AIServiceManagerTests.swift
  TinyTastesTrackerTests/CoreTests/Managers/ProfileManagerTests.swift
  TinyTastesTrackerTests/CoreTests/Managers/ProfileSharingManagerTests.swift
  docs/assessments/ACCESSIBILITY_AUDIT.md
Due: none

docs: Complete documentation reorganization into logical structure
  docs/architecture/CLOUDKIT_SHARING_IMPLEMENTATION.md
  docs/architecture/CLOUDKIT_SYNC_GUIDE.md
  docs/architecture/DATA_HANDLING.md
  docs/architecture/SECURITY_IMPLEMENTATION.md
  docs/assessments/ACCESSIBILITY_COLORS.md
  docs/assessments/ASSESSMENT.md
  docs/assessments/CLAUDE_FILE_STRUCTURE_SUGGESTIONS.md
  docs/assessments/CODE_QUALITY_SUMMARY.md
  docs/assessments/CODE_REVIEW.md
  docs/assessments/CODE_REVIEW_COMPARISON.md
  docs/assessments/FILE_STRUCTURE_REVIEW.md
  docs/assessments/MIGRATION_STATUS_ASSESSMENT.md
  docs/assessments/NEWBORN_MODE_POC_ASSESSMENT.md
  docs/assessments/SECURITY_VERIFICATION.md
  docs/compliance/APP_STORE_PRIVACY.md
  docs/compliance/terms.md
  docs/guides/ci-cd/CI_CD.md
  docs/guides/features/PROFILE_SHARING_GUIDE.md
  docs/guides/features/SAGE_VOICE_CHAT_FIXES.md
  docs/guides/features/SAMPLE_DATA_TOGGLE.md
  docs/guides/features/VOICE_CHAT_WEBSOCKET_SETUP.md
  docs/guides/features/VOICE_INPUT_FEATURE.md
  docs/guides/setup/FULL_COLLABORATION_GUIDE.md
  docs/guides/setup/PROFILE_SHARING_SETUP.md
  docs/guides/setup/SMS_SHARING_SETUP.md
  docs/guides/testing/CLOUDKIT_SHARING_TEST_GUIDE.md
  docs/guides/testing/FIRESTORE_TESTING_IMPLEMENTATION.md
  docs/guides/testing/FIRESTORE_TESTING_QUICKSTART.md
  docs/guides/testing/INSTRUMENTS_PROFILING_GUIDE.md
  docs/guides/testing/JAVA_SETUP_REQUIRED.md
  docs/guides/testing/SECURITY_TESTING_GUIDE.md
  docs/guides/testing/TESTING.md
  docs/index.md
  docs/market/COMPETITOR_ANALYSIS.md
  docs/planning/FEATURE_TASKS.md
  docs/planning/FIREBASE_MIGRATION_PLAN.md
  docs/planning/IMPLEMENTATION_PLAN.md
  docs/planning/ROADMAP.md
  docs/planning/feature_plan.md
Due: none

chore: Regenerate Xcode project after file structure cleanup
  TinyTastesTracker.xcodeproj/project.pbxproj
Due: none

fix: Add FirebaseAnalytics dependency to resolve import error
  TinyTastesTracker.xcodeproj/project.pbxproj
  project.yml
Due: none

fix: Resolve MainActor isolation and unused variable warnings in NewbornDashboardViewModel
  TinyTastesTracker/Features/Newborn/ViewModels/NewbornDashboardViewModel.swift
Due: unittests, uitests

chore: Update project file
  TinyTastesTracker.xcodeproj/project.pbxproj
Due: none

docs: Add AI Fleet implementation plan for automated development pipeline
  docs/planning/AI_FLEET_IMPLEMENTATION_PLAN.md
Due: none

docs: Add Pediatrician Safety Audit prompt template
  docs/planning/prompts/pediatrician_audit_prompt.md
Due: none

docs: Add comprehensive TestFlight deployment guide
  docs/guides/TESTFLIGHT_DEPLOYMENT_GUIDE.md
Due: none

security: Remove hardcoded API keys and rotate Gemini key
  TinyTastesTracker/Core/Managers/AIServiceManager.swift
  TinyTastesTracker/Core/Managers/AppState.swift
  TinyTastesTracker/Core/Managers/RecipeManager.swift
  TinyTastesTracker/Core/Managers/ToddlerManager.swift
  TinyTastesTracker/Core/Models/Recipe.swift
  TinyTastesTracker/Core/Services/GeminiService.swift
  TinyTastesTracker/Core/Utilities/SampleDataGenerator.swift
  TinyTastesTracker/Features/Newborn/ViewModels/NewbornDashboardViewModel.swift
  TinyTastesTracker/Features/Sage/SageView.swift
  TinyTastesTracker/Features/Settings/DataDeletionView.swift
  TinyTastesTracker/Features/Settings/DemoModeView.swift
  TinyTastesTracker/Features/Toddler/Views/RecipesPage.swift
  TinyTastesTracker/Features/Toddler/Views/ToddlerPage.swift
  TinyTastesTracker/UI/Components/FoodDetailModal.swift
  TinyTastesTracker/UI/Components/SettingsPage.swift
  docs/GEMINI_CONTEXT_PROFILE.md
  scripts/generate_assets_google.py
  scripts/verify_google_key.py
Due: unittests, uitests

Clean up GitHub Pages site to show only privacy and legal documents
  docs/_config.yml
  docs/index.md
  docs/support.md
Due: none

security: Stop tracking GoogleService-Info.plist
  TinyTastesTracker/Resources/GoogleService-Info.plist
Due: none

Configure Universal Links for Profile Sharing via GitHub Pages
  TinyTastesTracker/Assets.xcassets/AppIcon.appiconset/Contents.json
  TinyTastesTracker/Assets.xcassets/AppIcon.appiconset/icon-1024.jpg
  TinyTastesTracker/UI/Sheets/InviteUserSheet.swift
  docs/.well-known/apple-app-site-association
  project.yml
Due: uitests

Implement Rich UIActivityViewController ShareSheet for profile invitations
  TinyTastesTracker/UI/Components/ShareSheet.swift
  TinyTastesTracker/UI/Sheets/InviteUserSheet.swift
Due: uitests

Add GitHub Pages HTML fallback pages for Universal Link routing
  docs/404.html
  docs/accept-invite/index.html
Due: none
